body {
  font-family: 'Oswald', sans-serif;
  margin: 5px; }

article {
  font-family: 'Nunito', sans-serif; }

header {
  background-image: url(../assets/img/sant-sebastia-1-min.jpg); }
  header .navBar {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4px;
    position: sticky-top;
    color: colorDos;
    justify-content: space-between;
    text-decoration: none; }
    header .navBar .navBar__logo {
      height: 70px; }
  header nav {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-size: 20px;
    text-align: center; }

.header {
  background-image: url(../assets/img/supsunset.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.header2 {
  background-image: url(../assets/img/supaddle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.infoEly {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 100px; }

.multimedia {
  display: grid;
  grid-template-columns: 630px 450px;
  grid-template-rows: 300px 300px;
  padding-left: 80px;
  grid-template-areas: "video1 imag3";
  grid-column-gap: 15px;
  background-color: lightgray; }

.informacion .informacion__descripcion {
  display: grid;
  grid-template-columns: 810px 450px;
  grid-template-rows: 200px 300px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "imag1 informacion__titulo1", "imag1 informacion__parrafo1";
  background-color: #b8bfbf; }

.slides {
  display: grid;
  grid-template-columns: 500px 750px;
  grid-template-rows: 185px 300px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "imagenes1, textoImagenes";
  background-color: #b8bfbf; }

.slides2 {
  display: grid;
  grid-template-columns: 500px 800px;
  grid-template-rows: 185px 250px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "textoImagenes, imagenes1";
  background-color: #b8bfbf; }

.slides3 {
  display: grid;
  grid-template-columns: 500px 800px;
  grid-template-rows: 185px 250px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "textoImagenes3, imagenes3";
  background-color: #b8bfbf; }

.textoImagenes {
  margin-top: 10px;
  align-items: center;
  text-align: center; }
  .textoImagenes img {
    padding: 40px; }

.textoImagenes2 {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  padding: 20px; }

.informacionClases {
  display: grid;
  grid-template-columns: 520px 860px;
  grid-template-rows: 200px 300px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas: "informacion__titulo2 imag2", "informacion__parrafo2 imag2";
  background-color: lightblue;
  margin-bottom: 50px; }

.informacionEly {
  display: grid;
  grid-template-columns: 680px 560px;
  grid-template-rows: 200px 300px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas: "informacion__titulo2 imag2", "informacion__parrafo2 imag2";
  background-color: gray;
  margin-bottom: 50px; }

.informacion__parrafo1 {
  text-align: center;
  border-top: solid 7px gray;
  padding-top: 20px; }

footer {
  background-color: #b8bfbf;
  margin: 1px; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #451457; }

h2 {
  font-weight: bold 700;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: white; }

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #451457; }

p {
  font-size: 25px;
  color: #4d4252; }

.tituloGeneral {
  margin-top: 40px; }

.informacion__titulo1 {
  margin: 20px;
  padding-top: 40px; }

.informacion__parrafo2, .retiroSup {
  font-weight: bold;
  font-weight: 500;
  font-size: 25px;
  color: #451457;
  text-align: center;
  border-top: solid 7px gray;
  padding-top: 20px;
  padding-left: 20px; }

.informacion__parrafo3 {
  font-weight: 500;
  font-size: 25px;
  color: lightblue;
  text-align: center;
  border-top: solid 5px gray;
  padding-top: 20px;
  padding-left: 20px; }

#perfilEly {
  line-height: 200%;
  font-style: italic; }

table {
  align-items: center;
  border: 3px solid; }

.retiroSup {
  background-color: #b8bfbf; }

#tablaContacto th {
  background-color: #cccccc;
  border: 1px solid;
  padding-left: 200px; }

#formulario {
  background-color: lightgray;
  height: 400px;
  width: 400px; }

.fitness-life {
  background-color: lightblue;
  padding: 30px;
  font-size: 30px; }

.boton {
  font-size: 30px;
  background-color: #b8bfbf;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  align-items: middle; }

.dropdown {
  margin: 40px; }

.tituloGeneral {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 4.5rem;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 70px; }

.texto2 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-bottom: 120px;
  background-color: rgba(99, 111, 117, 0.4);
  border-radius: 20px; }

footer-- >
#container {
  width: 100%;
  height: 330px; }

#part1 {
  width: 100%;
  height: 280px;
  background-color: #292929; }

#part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px; }

#companyinfo {
  width: 18%;
  height: 280px;
  position: relative;
  left: 4%;
  top: 30px; }

#sitelink {
  font-size: 35px;
  color: #f44336; }

#sitelink:hover {
  color: #e65100; }

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px; }

#detail {
  color: #aaa7a7;
  font-size: 16px; }

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%; }

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: white;
  font-size: 20px; }

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px; }

.link:hover,
.link1:hover {
  color: #e65100; }

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%; }

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px; }

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%; }

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px; }

#subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px; }

#email {
  color: white;
  position: relative;
  top: -20px; }

.btn {
  position: relative;
  top: -10px; }

#txt5 {
  position: relative;
  top: 0px; }

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer; }

.fa-facebook-square:hover {
  color: #3B579D; }

.fa-linkedin:hover {
  color: #007BB6; }

.fa-twitter-square:hover {
  color: #2CAAE1; }

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7; }

.material-icons {
  position: relative;
  top: 3px; }

@media only screen and (max-width: 1000px) {
  #companyinfo {
    width: 20%; }
  #sitelink {
    font-size: 30px; }
  #txt5,
  #txt4 {
    font-size: 17px; }
  #txt5,
  .social {
    position: relative;
    top: -5px; } }

@media only screen and (max-width: 850px) {
  #companyinfo {
    position: relative;
    left: 3%; }
  #txt6 {
    position: relative;
    left: 3%; }
  #txt1,
  #txt2,
  #txt3,
  #txt4,
  #txt5 {
    font-size: 15px; }
  #explore {
    position: relative;
    top: -240px;
    left: 26%; }
  #sitelink {
    font-size: 25px; }
  #detail {
    font-size: 13px; }
  .link {
    width: 60px; }
  #visit {
    position: relative;
    top: -520px;
    left: 37%; }
  .text {
    font-size: 13px; }
  #legal {
    position: relative;
    top: -800px;
    left: 54%; }
  #subscribe {
    position: relative;
    top: -1080px;
    left: 76%;
    width: 20%; }
  #txt5,
  .social {
    position: relative;
    left: -110%;
    top: px; }
  #email,
  .btn {
    position: relative;
    top: 0px; }
  #part1 {
    height: 250px; } }
